STAGE="development"

SERVER_PORT=3000
SERVER_BODY_LIMIT=2000
SERVER_TIMEOUT=2000

POSTGRESQL_USERNAME=myuser
POSTGRESQL_PASSWORD=mypassword
POSTGRESQL_DATABASE=users_db

PATH_PREFIX=/users-service/
DATABASE_URL=postgresql://${POSTGRESQL_USERNAME}:${POSTGRESQL_PASSWORD}@medbook-userservice-db-dev:5432/${POSTGRESQL_DATABASE}?sslmode=disable
